<div>
  <% if @cart.contents.keys.include?(item.id.to_s) %>
    <% quantity = @cart.contents[item.id.to_s] %>

    <% if quantity == 1 %>
      <%= link_to delete_item_path(item_id: item.id, delete_item: 0) do %>
          <p>-</p>
      <%end%>
    <%else%>
      <%= link_to update_item_path(number: (@cart.contents[item.id.to_s]-1), item_id: item.id) do %>
        -
      <%end%>
    <%end%>

    <span>
      <%= quantity %>
    </span>

    <%= link_to update_item_path(number: (@cart.contents[item.id.to_s]+1), item_id: item.id) do %>
      +
    <%end%>

  <% else %>
    <%= link_to "Add Item", add_item_path(item_id: item.id)%>
  <%end%>
</div>
