<div class='container' id='items-collection'>
  <% @items.each do |item| %>
    <span class='card item'>
    <%= link_to item_path(item) do %>
      <div class='container item-link'>
        <h3><%=item.name%></h3>
        <%= image_tag('cart-icon.png')%>
      </div>
    <%end%>
      <h4>Seller: <%=item.user.name%></h4>
      <h4>$<%=item.price.round(2)%></h4>
      <h4><%= link_to "Add Item", add_item_path(item_id: item.id)%></h4>
    </span>
  <%end%>
</div>
