<div class='container' id='items-collection'>
  <% @items.each do |item| %>
    <span class='card item'>
    <%= link_to item_path(item) do %>
      <div class='container item-link'>
        <h3><%=item.name%></h3>
        <%= image_tag('cart-icon.png')%>
      </div>
    <%end%>
      <h4>Seller: <%=item.user.name%></h4>
      <h4><%=number_to_currency(item.price)%></h4>
      <h4><%=render partial: 'components/add_item', :locals => {item: item}%></h4>
      <%if current_page?(cart_path) %>
        <h4><%=link_to "Remove Item From Cart", delete_item_path(delete_item: 0, item_id: item.id)%></h4>
        <h4>Item total: <%= number_to_currency(@item_sum[item.id.to_s]) %></h4>
      <%end%>
    </span>
  <%end%>
</div>
