<% content_for :head do %>
     <% link_to rel: 'stylesheet', src: "/assets/nav.css" %>
<% end %>

<nav class='container' id='nav-bar'>

  <span class='card nav-button' id='home-button'>
    <h2><%= link_to 'Home', root_path %></h2>
  </span>

  <span class='card nav-button dropdown' id='browse'>
    <h2>Shop by</h2>
    <span class='dropdown-list' id='browse-list'>
      <h3><%= link_to 'Items', items_path %></h3>
      <h3><%= link_to 'Merchants', merchants_path %></h3>
    </span>
  </span>

  <span id='shopping-search-bar'>
    <!-- if we had a search bar, this is where it'd go -->
  </span>

  <span id='welcome-user'>
    <% if !current_user %>
      <h2>
        Welcome!<br>Please <%= link_to "Register", register_path %>
         or
         <%= link_to "Login", login_path %>
          to get started!
       </h2>
    <% else %>
      <h2>Welcome <%= current_user.name %>!</h2>
    <% end %>
  </span>

  <% if current_user %>
    <span class='card nav-button dropdown' id='profile'>

      <h2><%= link_to 'Profile', profile_path %> </h2>

      <span class='dropdown-list' id='profile-list'>

        <h3><%= link_to 'Orders', profile_orders_path %> </h3>

        <% if current_user.role != 0 %>
          <h3><%= link_to('Dashboard', dashboard_path) %></h3>
        <% end %>

        <% if current_user.role == 2 %>
          <h3><%= link_to('Users', users_path) %></h3>
        <% end %>

        <h3><%= link_to("Log Out", logout_path)%></h3>
      </span>

    </span>

  <% end %>

  <span class='card nav-button cart' id='cart-button'>
    <%= link_to cart_path do %>
    <%= image_tag('cart-icon.png') %>
    <h3>CART: <%=@cart.cart_count %></h3>
    <% end %>
  </span>


</nav>
