
<div class='container' id='orders-collection'>
  <% @orders.each do |order| %>

    <span class='card order' id='order-<%= order.id %>' >

      <h3><%= link_to "#{order.id}", profile_order_path(order) %>
      </h3>
      <h4>Status: <%= order.status.capitalize %>
      </h4>

      <% if order.status == 'pending' %>
        <%= link_to "Cancel Order", cancel_order_path(order) %>
      <% end %>


      <h5 class='item-date'>Ordered: <%= order.created_at %>
      </h5>
      <h5 class='item-date'>Updated: <%= order.updated_at %>
      </h5>
      <h4><%= order.item_count %> items
      </h4>
      <h4>Total: <%= number_to_currency(order.total_cost) %>
      </h4>

    </span>

  <%end%>
</div>
