
<div class='container' id='orders-collection'>
  <% @orders.each do |order| %>

    <span class='card order' id='order-<%= order.id %>' >

      <%= render partial: '/components/orders/order_title',   locals: {order: order} %>
      <%= render partial: '/components/orders/basic_details', locals: {order: order} %>

      <!-- < % if @merch_order_experience || @admin_merch_experience %> -->
      <% if @merch_order_experience || @admin_order_experience %>
        <%= render partial: 'components/users/ship_to',      locals: { order: order } %>
      <% end %>

      <%= render partial: 'components/orders/order_items', locals: { order: order } %>

    </span>

  <%end%>
</div>
