
<div class='container order-items'>

  <% @total = 0 %>
  <% @count = 0 %>
  <% @order_items = order.order_items.with_subtotals %>



  <% if @merch_experience || @merch_order_experience %>

    <% @order_items.each do |oitem| %> <% item = oitem.item %>

      <% if item.user_id == current_user.id %>

        <% @count += oitem.quantity %>
        <% @total += oitem.subtotal %>

        <% if @merch_order_experience %>
          <span class='order-item'>

            <%= render partial: 'components/orders/order_item',      locals: { item: item, oitem: oitem } %>
            <h5>Current: <%= number_to_currency(item.price) %></h4>
            <%= render partial: 'components/orders/fulfill_item',     locals: { item: item, oitem: oitem } %>

          </span>
        <% end %>
    <% end %>


    <% end %>

    <h3>Checkout Cost: <%= number_to_currency(@total) %></h3>
    <h3>Item Count: <%= @count %></h3>
  <% end %>



  <% if @user_experience || @user_order_experience || @admin_experience || @admin_merch_experience || @admin_order_experience %>

    <% @order_items.each do |oitem| %> <% item = oitem.item %>

      <% if @user_order_experience || @admin_order_experience %>
        <span class='order-item'>
          <%= render partial: 'components/orders/order_item', locals: { item: item, oitem: oitem } %>
        </span>
      <% end %>

    <% end %>

    <h3>Checkout Cost: <%= number_to_currency(order.total_cost) %></h3>
    <h3>Item Count: <%=    order.item_count                     %></h3>
  <% end %>



</div>
