
<div class='container' id='orders-collection'>
  <% @orders.each do |order| %>

    <span class='card order' id='order-<%= order.id %>' >

      <%= render partial: '/components/orders/order_title',   locals: {order: order} %>
      <%= render partial: '/components/orders/basic_details', locals: {order: order} %>

      <% if @user_experience || @admin_experience %>
        <h4><%= order.item_count %> items</h4>
        <h4>Total: <%= number_to_currency(order.total_cost) %></h4>
      <% end %>

      <%= render partial: 'components/orders/ship_to',     locals: { order: order } %>
      <%= render partial: 'components/orders/order_items', locals: { order: order } %>

    </span>

  <%end%>
</div>
