
<% if @merch_experience %>
  <%= link_to item_path(item) do%>
    <span>
      <h3><%= item.name %></h3>
      <% item.image ? img = item.image : img = "https://smhttp-ssl-50970.nexcesscdn.net/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/no_image_available_3.jpg" %>
      <%= image_tag img %>
    </span>
  <% end %>
<%else %>
  <span>
    <h3><%= item.name %></h3>
    <% item.image ? img = item.image : img = "https://smhttp-ssl-50970.nexcesscdn.net/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/no_image_available_3.jpg" %>
    <%= image_tag img %>
  </span>
<% end %>
