
<div class='container order-items'>

  <% @total = 0 %>
  <% @count = 0 %>

  <% if @merch_experience || @merch_order_experience %>

    <% order_items = order.order_items.with_subtotals %>
    <% order_items.each do |oitem| %>
      <% item = oitem.item %>

      <% if item.user_id == current_user.id %>
        <!-- Only Need this on show ? -->
        <% @count += 1 %>
        <% @total += oitem.subtotal %>

        <%= render partial: 'components/orders/order_title', locals: {oitem: oitem, item: item }%>
        <%= render partial: 'components/orders/merchant_order' %>
        <%= render partial: 'components/orders/fulfillment', locals: {oitem: oitem, item: item } %>

      <% end %>
    <% end %>

    <h3>Checkout Cost: <%= number_to_currency(@total) %></h3>
    <h3>Item Count: <%= @count %></h3>
  <% end %>
</div>
