
<span class='ship-to'>
  <h5>Ship to: </h5>
    <h4><%= order.user.name    %></h4>
    <h4><%= order.user.address %></h4>
    <h4><%= order.user.city    %></h4>
    <h4><%= order.user.state   %></h4>
    <h4><%= order.user.zip     %></h4>
  </span>
