<h1>Merchants</h1>
<% @merchants.each do |merchant| %>
<div class="merchant" id="merchant-<%= merchant.id %>">
  <h3><%= link_to merchant.name, user_path(merchant) %></h3>
  <% if @user.admin? %>
  <session>
  <% if merchant.active %>
    <%= "Active" %>
    <%= button_to "Disable", activate_path(user: merchant) %>
  <%else%>
    <%= "Disabled" %>
    <%= button_to "Enable", activate_path(user: merchant)%>
  <%end%>
  </session>
  <% end %>
</div>
<% end %>
