<section>
<h2>Welcome <%= @user.name %>!</h2>
<h3>Account Info</h3>
<ul>
  <li>Address:  <%= @user.address %></li>
  <li>City:     <%= @user.city %></li>
  <li>State:    <%= @user.state %></li>
  <li>Zip Code: <%= @user.zip %></li>
  <li>Email:    <%= @user.email %></li>
</ul>
<%= link_to "Update Info", profile_edit_path(@user.id) %>

<%if current_user.role == "admin" %>
  <%if @user.role == "default" %>
    <%= link_to "Upgrade Account", upgrade_downgrade_path(id: @user.id, upgrade_downgrade: "merchant") %>
  <% elsif @user.role == "merchant" %>
    <%= link_to "Downgrade Account", upgrade_downgrade_path(id: @user.id, upgrade_downgrade: "default") %>
  <%end%>
<%end%>
</section>
