
<h1> <%=@user.name%>'s Dashboard </h1>

<% if !@admin_dashboard %>
  <% if current_admin? %>
  <%= link_to 'All Items', merchant_items_path(@user) %>
  <% elsif current_merchant? %>
  <%= link_to 'All Items', dashboard_items_path(@user) %>
  <% end %>
<% end %>

<div id="merchant-orders">

  <% if @merchant_orders && @merchant_orders.length > 0 %>
  <%= (link_to 'Sales Orders', dashboard_orders_path)        if @merch_experience %>
  <%= (link_to 'Sales Orders', merchant_orders_path(@user))  if @admin_experience %>
  <% elsif @merch_experience || @admin_experience %>
    <p>No orders yet.</p>
  <% elsif @admin_dashboard %>
      <!-- nothing -->
  <% end %>

  <!-- < %if current_user.role == "admin" && @user.role == "merchant" %> -->
  <%if @admin_experience %>
    <%= link_to "Update Info", merchant_edit_path(@user.id) %>
  <% end %>

  <%= (link_to "Downgrade Account", upgrade_downgrade_path(id: @user.id, upgrade_downgrade: "default")) if !@admin %>
</div>
<!-- ======= -->

<!--
<h3>< %= link_to "Downgrade Account", upgrade_downgrade_path(id: @user.id, upgrade_downgrade: "default") %>
</h3> -->
<!-- >>>>>>> master
 -->
