<main>
  <h2>New Item</h2>
  <%= form_for [@merchant,@item] do |f| %>
      <%= f.label :name, "Item Name" %>
      <%= f.text_field :name %>
      <%= f.label :price, "Price" %>
      <%= f.number_field :price %>
      <%= f.label :description %>
      <%= f.text_area :description%>
      <%= f.label :inventory %>
      <%= f.number_field :inventory %>
      <%= f.label :image, "Item Thumbnail" %>
      <%= f.text_field :image %>
      <%= f.submit %>
  <%end%>
</main>
