<h1> Dashboard </h1>
<%=link_to "Add New Item", new_item_path%>
<ul>
<div class='container' id='items-collection'>
  <% @items.each do |item| %>
    <div class ="item" id="item<%=item.id%>"
      <li><%=link_to item.name, item_path(item)%> </li>
      <li>Item ID: <%=item.id%> </li>
      <li><%=item.image%> </li>
      <li>Price : <%=item.price%> </li>
      <li>Inventory Count: <%=item.inventory%></li>
      <li><%=link_to "Edit #{item.name}", edit_item_path(item)%> </li>
    </div>
  <%end%>
  </div>
</ul>
