<h1> All users </h1>
<% @users.each do |user| %>

<session>
  <% if user.role == "merchant" %>
    <%=link_to user.name, merchant_show_path(user)%>
  <% else %>
    <%=link_to user.name, user_path(user)%>
  <% end %>
  <% if user.active %>
    <%= "Active" %>
    <%= button_to "Disable", activate_path(user: user) %>
  <%else%>
    <%= "Disabled" %>
    <%= button_to "Enable", activate_path(user: user)%>
  <%end%>
</session>

<%end%>
