<h1> All users </h1>
<div class="users">
<% @users.each do |user| %>
<div class="user" id="user-<%= user.id %>">
  <% if user.role == "merchant" %>
    <h3><%=link_to user.name, merchant_show_path(user)%></h3>
  <% else %>
    <h3><%=link_to user.name, user_path(user)%></h3>
  <% end %>
  <% if user.active %>
    <p>Account Status: Active</p>
    <%= button_to "Disable", activate_path(user: user) %>
  <%else%>
    <p>Account Status: Disabled</p>
    <%= button_to "Enable", activate_path(user: user)%>
  <%end%>
</div>

<%end%>
</div>
