<h1> All users </h1>
<% @users.each do |user| %>
<session>
  <%=link_to user.name, user_path(user)%>
  <% if user.active %>
    <%= "Active" %>
    <%= button_to "Disable", activate_path(user: user) %>
  <%else%>
    <%= "Disabled" %>
    <%= button_to "Enable", activate_path(user: user)%>
  <%end%>
</session>
<%end%>
